body {
    margin: 40px auto;
    max-width: 650px;
    font-size: 16px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 130:
}

h1, h2 {
    margin-bottom: 0.25em;
}

button {
    cursor: pointer;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
}

#form {
    width: 100%;
}

#form td {
    padding: 7px 10px;
}

th {
    text-align: right;
}

input[type=text],textarea {
    border-radius: 2px;
    border: thin solid #CCC;
    padding: 0.3em;
}

#form input[type=text], #form textarea {
    width: 100%;
}

input[type=text]:focus {
    box-shadow: inset 0 0 0 2px #347bff;
    border-color: #347bff;
    outline: 0;
}

#another-link {
    padding: 5px;
    background-color: #DDF;
}

#another-link th {
    font-weight: normal;
}

#another-link td {
    padding: 0 10px;
}

#another-link-submit {
    width: 10em;
}

#another-link-validation {
    margin-left: 0.5em;
}

.remove {
    cursor: pointer;
    border-bottom: thin dotted gray;
}

textarea {
    width: 100%;
    resize: vertical;
}

#support-data-container {
    border-collapse: collapse;
}

#support-data-container td {
    padding: 0;
    margin: 0;
}

#select-browser ul {
    list-style: none;
    padding: 0;
    margin: -1px 0 0 -1px;
    width: 7em;
}

#select-browser li {
    border: thin solid black;
    cursor: pointer;
    margin: 0;
    margin-bottom: -1px;
    padding: 0.25em;
    padding-left: 0.5em;
}

#select-browser li.selected {
    border-right: white;
    cursor: auto;
    box-shadow: inset 4px 0 0 0 #347bff;
    font-weight: bold;
}

#select-browser li:not(.selected) {
    background-color: #DDD;
}

#select-browser li:not(.selected):hover {
    background-color: #EEE;
}

#browser-info-table-cell {
    width: 100%;
    vertical-align: top;
    border: solid black;
    border-width: thin thin thin 0;
}

#add-version {
    background-color: #CFD;
    padding: 0.75em;
    margin: 1em;
}

#add-version-label {
    font-size: 80%;
    display: block;
}

#version {
    width: 60%;
}

#versions {
    border-collapse: collapse;
    width: 100%;
}

#versions th {
    padding: 0.5em;
}

#versions th, #versions td {
    border: thin solid #BBB;
    text-align: center;
}

#versions input[type=text] {
    width: 3em;
}

#versions input[type=radio], #versions input[type=checkbox] {
    width: 100%;
    margin: 0;
}

.n, .p {
    color: white;
    background-color: #c44230;
}

.y {
    color: white;
    background-color: #39b54a;
}

.a {
    background-color: #a8bd04;
}

.u {
    background-color: #838383;
}

#generate {
    font-size: 150%;
}

#file {
    border: thin solid gray;
    border-radius: 5px;
    overflow-x: scroll;
    padding: 10px;
}

#file:empty {
    display: none;
}